body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    background: #2b2b2b;
  }

/* Style the dropdown */
  .dropdown {
    position: absolute;
    top: 200px;
    cursor: pointer;
  }

  .dropdown .dropdown-toggle {
    appearance: none;
    background: #434343;
    width: 250px;
    color: #b5b5b57e;
    transition: box-shadow 0.25s;
    border: none;
    border-radius: 28px;
    padding: 14px;
    position: relative;
    left: 10px;
    max-width: 500px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    height: 1vh;
    align-items: center;
  }

  .dropdown .dropdown-toggle::after {
    content: '';
    border-width: 6px;
    border-radius: 28px;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit;
    position: absolute;
    right: 12px;
    top: calc(50% + 3px);
    transform: translateY(-50%);
  }

  .dropdown .dropdown-toggle.active::after {
    border-color: transparent;
    border-bottom-color: inherit;
    top: calc(50% - 3px);
  }

  /* Dropdown menu - tour names */
  .dropdown .dropdown-menu {
    background: #2b2b2b;
    color: #b5b5b57e;
    box-shadow: 0 1px 4px rgba(149, 149, 149, 0.293);
    list-style: none;
    padding: 5px 0;
    margin: 0;
    max-width: 320px;
    width: calc(100% + 24px);
    border-radius: 3px;
    z-index: 10;
    position: absolute;
    left: 60%;
    top: 100%;
    transform: translateX(-50%);
    max-height: 50px;
    overflow: auto;
    visibility: hidden;
    scrollbar-color: #b5b5b57e #2b2b2b;
  }
  
  .dropdown .dropdown-menu[aria-expanded="true"] {
    visibility: visible;
  }

  .dropdown .dropdown-menu li {
    height: 16px;
    display: flex;
    align-items:center;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dropdown .dropdown-menu li:hover,
  .dropdown .dropdown-menu li:focus {
    outline: none;
    background: #cdcdcd28;
    border-radius: 3px;
  }

/* Style of setlist information */
  #setlist-container {
    align-items: center;
    font-family: 'Lexend', sans-serif;
    color: #e6e4e47e;
    position: absolute;
    top: 275px;
  }

/* Style of corgi button */
  #corgiButton {
    margin-top: 50px;  
  }